html{
    background-image: url("images/pattern-background-desktop.svg");
    background-repeat: no-repeat;
    box-sizing: border-box;
  }
  
      body{
        font-family: "Red Hat Display";
        
      }

    .main-box{
        background-color: white;
        width: 20%;
        border-radius: 10px;
        text-align: center;
        min-width: 440px;
    }

    .picture{
        background-image: url("/images/illustration-hero.svg");
        min-width: 440px;
        min-height: 220px;
        border-radius: 10px 10px 0 0;
    }